<div class="d-flex flex-column flex-shrink-0 bg-light" style="width: 3.5rem; height: 100vh; float: left;">
    <ul>
        <li>
            <button class="side_navi_box">
                <i class="bi bi-house sn_icon"></i>
            </button>
        </li>
        <li>
            <%= link_to stores_path, class: "side_navi_box btn btn-default" do %>
                <i class="bi bi-journals sn_icon"></i>
            <% end %>
        </li>
        <li>
            <button class="side_navi_box">
                <i class="bi bi-people-fill sn_icon"></i>
            </button>
        </li>
        <li>
            <button class="side_navi_box">
                <i class="bi bi-gear sn_icon"></i>
            </button>
        </li>
        <li>
            <%= button_to destroy_user_session_path, :method => :delete, class: "side_navi_box btn btn-default" do %>
                <i class="bi bi-box-arrow-right sn_icon"></i>
            <% end %>
        </li>
    </ul>
</div>