<div class="d-flex flex-column flex-shrink-0 bg-light" style="width: 4.5rem; height: 100vh;">
    <ul>
        <li>
            <div class="side_navi_box">
                <i class="bi bi-house-door-fill"></i>
            </div>
        </li>
        <li>
            <div class="side_navi_box">
            </div>
        </li>
        <li>
            <div class="side_navi_box">
            </div>
        </li>
    </ul>
</div>